@font-face {
    font-family: digital_clock;
    src: url("/Content/digital-7.ttf");
}

body {font-family: 'Roboto', sans-serif;margin:0;padding:0;width:100%;}
body, body * {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.topNavContainer{position:relative;top:0px;width:100%;height: 80px;background-color:#fff;}
.topNavList{list-style:none;text-decoration:none;position:relative;margin:0px auto;max-width: 1200px;padding:10px 15px;height:80px;text-align:center;}
.topNavList li{
    position:relative;
    display:inline-block;
    color:#666;
    margin-right: 15px;
    font-weight: 400;
    font-size: 14pt;
    vertical-align:top;
}
.topNavList li:first-of-type{font-weight:bold;margin-right: 30px;float:left;}
.topNavList li:last-of-type{margin-right: 0px;}
.topNavList li a{cursor:pointer;line-height:60px;padding:10px 0;}
.topNavList li a:hover{color:#b0b0b0;}
.logo {
}
.recovery-logo {
    overflow:auto;
}
.recovery-logo i {
    color:#fe3e33;
    font-size:40px;
    line-height:60px;
    float:left;
    padding-right:10px;
}
.recovery-logo .logo-text {
    padding-top:10px;
}
.recovery-logo p {
    line-height:20px;
    margin:0;
    color:#FE3E33;
    text-align:left;
    float:left;
    clear:right;
}
.recovery-logo span{
    color:#666;
    font-size:12px;
}
.topFormContainer{width:100%;margin:0 auto;height: 60px;position:relative;padding:0 15px;background:#f3f4f7;}
.topFormContainer .search-tool {
    padding:10px 15px;
    max-width:1200px;
    margin:0 auto;
    line-height:40px;
    text-align:center;
}
.topFormContainer .search-tool * {
    display:inline-block;
    vertical-align:middle;    
    }
.topFormContainer input[type="text"]{
    width: 318px;border-radius:2px;border:1px solid #e3e5e7;height:40px;padding:5px 15px;
}
.topFormContainer select{
    height:40px;
    border:1px solid #e3e5e7;
    border-radius:2px;
    margin-right:20px;
    -webkit-rendering:none;
    -moz-rendering:none;
    padding:5px 10px;
}
.imgLocation i{font-size:24px;color:#666;padding-left:10px;line-height:40px;}
.imgLocation i:hover{color:#333;}
.imgLocation{position:relative;top:3px;margin-right:22px}
#SearchSubmit {
    background:#fe3e33;
    color:#fff;
    padding:11px 20px;
    text-transform:uppercase;
    border:none;
    border-radius:2px;
    cursor:pointer;
}
a {text-decoration:none;}
.leftPanel{width:20%;height:800px;background-color:#fff;display: inline-block;}
.map-container{position:relative;width:100%;height:600px;margin:0 auto;}
.leftContainer{position:absolute;left:0px;z-index:1000;height:100%;width:320px;height:550px;overflow:auto;}
.leftContainer h4 {
    font-weight:600;
    color:#666;
    margin:0;
    border-bottom:1px solid #bbb;
    display:block;
    padding:15px;
}
.search-results{list-style:none;margin: 0px;padding:0;}
.search-results li{height:auto;display:block;border-bottom:1px solid #e3e4e5;margin:0;padding:15px;line-height:1.5;font-size:10px;font-weight:400;}
.Name{font-size:13pt;font-weight:500}
.location-name{font-size:10pt;color:#666;}
.Address{font-size: 10pt;font-weight:400;color:#666;}
.distance{font-size:10pt;color:#666;}
.distance,.time,.day-of-week{
    display:inline-block;
    vertical-align:middle;
    font-size:10pt;
    color:#999;
    width:31%;
    text-align:left;
}
.time{color:#fe3e33;}
.day-of-week{color:#fe3e33;}
.mainContainer{padding-left:320px;}
.loading,.loadingLeft{
    position:absolute;z-index:1001;top:50%;left:50%;
    margin-left:-60px; padding:5px 10px; 
    border-radius:15px;margin-top:-30px;
    background:#fff;background:rgba(255,255,255,0.7);
}