@font-face {
    font-family: digital_clock;
    src: url("/Content/digital-7.ttf");
}

body {font-family: 'Roboto', sans-serif;margin:0;padding:0;width:100%;background:url(/Images/bg_top2.gif) top repeat-x #e2e2e2;}
.topNavContainer{position:relative;top:0px;width:100%;height: 37px;background-color:#313131;border-bottom:1px solid #919191;}
.topNavList{list-style:none;text-decoration:none;position:relative;margin:0px auto;width: 820px;}
.topNavList li{position:relative;display:inline-block;line-height: 38px;color:#e1e1e1;margin-right: 15px;font-weight: 100;font-size: 14pt;}
.topNavList li:first-of-type{font-weight:bold;margin-right: 30px;}
.topNavList li:last-of-type{margin-right: 0px;}
.topNavList li a{cursor:pointer;}
.topNavList li a:hover{color:#b0b0b0;}
.topFormContainer{width:800px;height: 51px;position:relative;line-height: 50px;padding-left: 100px;}
.topFormContainer input[type="text"]{width: 318px;border-radius:5px;border:1px solid #999;height:20px;padding:2px}
.topFormContainer select{height:27px;border:1px solid #aaa;border-radius:5px;margin-right:10px}
.imgLocation img{width:18px}
.imgLocation{position:relative;top:3px;margin-right:22px}
a {text-decoration:none;}
.leftPanel{width:20%;height:800px;background-color:#fff;display: inline-block;}
.map-container{display:inline-block;position:relative;width:100%;height:600px;}
.leftContainer{position:absolute;left:0px;z-index:1000;height:100%;width:224px;height:550px;overflow:auto;}
.search-results{list-style:none;margin: 0px;padding: 0px;}
.search-results li{height: 121px;width:100%;border-bottom:1px solid #bbb;background-color:#f8f8f8;border-top:1px solid #bbb;}
.location-name{font-size:9pt;font-weight:300}
.Address{font-size:9pt;font-weight:300}
.time{display:inline-block;position:relative;left:0px;color:blue;font-family:digital_clock;}
.day-of-week{display:inline-block;position:relative;right:0px;width:66px}
.mainContainer{height:551px;border-top: 2px solid #999;border-bottom: 2px solid #999;}
.loading{position:absolute;z-index:1001;top:42%;left:40%;}
.loadingLeft{position:absolute;z-index:1001;top:42%;left:25px;}